# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env.*
.venv/

# =========================
# Flask / App
# =========================
instance/
*.log

# =========================
# Database
# =========================
*.sqlite3
*.db


# =========================
# Media
# =========================
media/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
script.py


# =========================
# Secrets
# =========================
*.env
